
body{
    background-color: #F7ECDE;
}
/* 
.container h1{
    
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        position: relative;
        width: fit-content;

} */
